
:root {
    --primary-color: #1992D4;
    /* --secondary-color: 
    --search-bar-color: */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

/* building structure of dashboard layout */
.dashboard-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
    height: 100vh;
}


.header {
    grid-area: header;
}


.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    padding: 20px;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "projects projects announcements"
        "projects projects trending";
    gap: 10px;
}

.main-content > div {
    background-color: rgb(233, 207, 207);
    border: 1px solid black;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.projects > div {
    background-color: rgb(233, 207, 207);
    border: 1px solid black;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/* Working on dashboard navigation buttons */
.nav-section-one ul, .logo-section ul, 
.nav-section-two ul {
    list-style: none;
}

.nav-section-one li, .logo-section li,
.nav-section-two li {
    margin-bottom: 20px;
}

.nav-section-one a, .logo-section a,
.nav-section-two a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 800px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar > div {
    margin-bottom: 50px;
}

.nav-section-two ul {
    list-style: none;
}

.icon {
    height: 20px;
    width: 20px;
    color: white;
}

.dashboard {
    height: 35px;
    width: 35px;
}